# Python & build
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.log

# Virtual environments & tools
venv/
.env
.env/
.venv/
pip-wheel-metadata/
*.sqlite3

# Django
static/*
!static/fonts
media/
db.sqlite3
project.db
*.db
instance/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

node_modules

node_modules/
