{% load static %}
<div class="frame-28">
  <div class="navbar">
    <img class="image-7" src="{% static 'img/image 37.png' %}" />
    <a class="text-wrapper-26 active" href="{% url 'home' %}">خانه</a>
    <a class="text-wrapper-26" href="{% url 'products' %}">محصولات</a>
    <a class="text-wrapper-26" href="{% url 'home' %}#gallery">گالری</a>
    <a class="text-wrapper-26" href="{% url 'about' %}">درباره ما</a>
    <a class="text-wrapper-26" href="{% url 'contact' %}">تماس با ما</a>
  </div>
  <figure class="navbar-icons">
    <img class="communication-phone" src="{% static 'img/Phone.png' %}" />
    <img class="interface-search" src="{% static 'img/Search.png' %}" />
  </figure>
</div>
