{% load static %}
<div class="frame-28">
  <img class="image-7" src="{% static 'img/image 37.png' %}" />
  <div class="navbar">
    <div class="text-wrapper-26">تماس با ما</div>
    <div class="text-wrapper-26">درباره ما</div>
    <div class="text-wrapper-26">گالری</div>
    <div class="text-wrapper-26">محصولات</div>
    <div class="text-wrapper-26">خانه</div>
  </div>
  <img class="interface-search" src="{% static 'img/Search.png' %}" />
  <img class="communication-phone" src="{% static 'img/Phone.png' %}" />
</div>
