{% load static %}
<div class="frame-17">
  <div class="rectangle-2"></div>
  <div class="ellipse"></div>
  <div class="frame-18">
    <div class="frame-19">
      <div class="frame-20">
        <img class="image-6" src="{% static 'img/image 37.png' %}" />
      </div>
      <div class="frame-21">
        <div class="text-wrapper-17">{% include "components/fragments/contact_phone.html" %}</div>
        <div class="info">{% include "components/fragments/contact_email.html" %}</div>
        <p class="text-wrapper-18">
          {% include "components/fragments/contact_address.html" %}
        </p>
      </div>
    </div>
    <div class="frame-22">
      <div class="text-wrapper-19">تماس باما</div>
    </div>
  </div>
</div>

<div class="frame-29">
  <div class="frame-30">
    <a class="text-wrapper-26" href="{% url 'contact' %}">تماس با ما</a>
    <a class="text-wrapper-26" href="{% url 'about' %}">درباره ما</a>
    <a class="text-wrapper-26" href="{% url 'home' %}#gallery">گالری</a>
    <a class="text-wrapper-26" href="{% url 'products' %}">محصولات</a>
  </div>
</div>
<p class="text-wrapper-27">
  © ۱۴۰۴ فرش پرشین – کلیه حقوق این وبسایت محفوظ است.
</p>
