<div class="hero-slider">
                    {% comment %} slider {% endcomment %}
                    <div class="slider-container">
                        <div class="slider">
                            <div class="slide active">
                                <img src="{% static 'img/image 36.png' %}" alt="فرش 1" class="slide-image"/>
                            </div>
                            <div class="slide">
                                <img src="{% static 'img/image 45.png' %}" alt="فرش 2" class="slide-image"/>
                            </div>
                            <div class="slide">
                                <img src="{% static 'img/image 46.png' %}" alt="فرش 3" class="slide-image"/>
                            </div>
                        </div>
                    </div>
                    {% comment %} slider overlay {% endcomment %}
                    <div class="slider-overlay"></div>
                    {% comment %} slider controls {% endcomment %}
                    <div class="slider-controls">
                        <button class="control-btn next-btn" aria-label="اسلاید بعدی">
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9 5L16 12L9 19"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"/>
                            </svg>
                        </button>

                        <div class="slider-dots">
                            <button class="dot active" data-index="0" aria-label="رفتن به اسلاید 1"></button>
                            <button class="dot" data-index="1" aria-label="رفتن به اسلاید 2"></button>
                            <button class="dot" data-index="2" aria-label="رفتن به اسلاید 3"></button>
                        </div>

                        
                        <button class="control-btn prev-btn" aria-label="اسلاید قبلی">
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15 19L8 12L15 5"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                    <div class="slider-style">
                        <img src="{% static 'imgs/hero-slider-style.png' %}" alt="slider style">
                    </div>
                </div>
                <div class="hero-typo">
                    <h1 class="hero-title">فرشی فراتر از کف‌پوش،<br> هویت خانه شما</h1>
                    <p>زیبایی جاودانه‌ای که خانه شما لایق آن است</p>
                    <span>فروش فقط از طریق نمایندگی / تماس مستقیم</span>
                    <br>
                    <a href="" class="hero-cta">مشاهده نمایندگی‌ها</a>
                </div>