{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'home/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'home/styleguid.css' %}" />
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
  </head>
  <body>
    <div class="home-page">
      <img class="image" src="{% static 'img/image 36.png' %}" />
      <div class="rectangle"></div>
      <div class="group">
        <img class="polygon" src="{% static 'img/Polygon 1.png' %}" />
        <img class="img" src="{% static 'img/Polygon 2.png' %}" />
        <img class="polygon-2" src="{% static 'img/Polygon 3.png' %}" />
      </div>
      <img class="group-2" src="{% static 'img/Group 4.png' %}" />
      <div class="frame">
        <div class="div">
          <div class="frame-2">
            <p class="text-wrapper">فرشی فراتر از کف‌پوش، هویت خانه شما</p>
            <img class="line" src="{% static 'img/Line 8.png' %}" />
            <p class="p">زیبایی جاودانه‌ای که خانه شما لایق آن است</p>
          </div>
          <div class="frame-3">
            <p class="text-wrapper-2">
              فروش فقط از طریق نمایندگی / تماس مستقیم
            </p>
            <div class="div-wrapper">
              <div class="text-wrapper-3">مشاهده نمایندگی‌ها</div>
            </div>
          </div>
        </div>
      </div>
      <div class="group-3">
        <div class="text-wrapper-4">ARTISTRY</div>
        <div class="frame-4">
          <p class="text-wrapper-5">
            «ما باور داریم که فرش تنها یک پوشش برای زمین نیست، بلکه تابلویی از
            هنر، فرهنگ و هویت است. مجموعه ما با سال‌ها تجربه در عرضه‌ی فرش‌های
            اصیل و مدرن، تلاش می‌کند تا ترکیبی از زیبایی، کیفیت و اصالت را به
            خانه‌های شما بیاورد. هر فرش، داستانی دارد؛ داستانی از هنر دست یا
            طراحی مدرن که ماندگار و منحصر به فرد است. هدف ما این است که هر خانه
            با انتخاب شما، جلوه‌ای تازه و باشکوه پیدا کند.
          </p>
          <div class="frame-5">
            <div class="text-wrapper-6">ادامه داستان ما</div>
          </div>
        </div>
        <div class="group-4">
          <div class="frame-6">
            <div class="islamic-pattern">
              <div class="vector-wrapper">
                <img class="vector" src="{% static 'img/vector-2.png' %}" />
              </div>
            </div>
            <div class="frame-7">
              <p class="text-wrapper-7">ریشه در اصالت،<br />نگاه به آینده</p>
              <img class="line-2" src="{% static 'img/Line 8.png' %}" />
            </div>
          </div>
          <div class="image-wrapper">
            <img class="image-2" src="{% static 'img/image 45.png' %}" />
          </div>
        </div>
      </div>

      <div class="group-5">
        <div class="text-wrapper-8">GALLERY</div>
        <div class="frame-8">
          <div class="group-wrapper">
            <div class="vector-wrapper">
              <img class="vector" src="{% static 'img/vector-2.png' %}" />
            </div>
          </div>
          <div class="frame-wrapper">
            <div class="frame-9">
              <p class="text-wrapper-9">نگاهی به آثار هنری ما</p>
              <img class="line-2" src="img/Line 8.png" />
            </div>
          </div>
          <div class="islamic-pattern-2">
            <div class="vector-wrapper">
              <img class="vector" src="{% static 'img/vector-2.png' %}" />
            </div>
          </div>
          <div class="islamic-pattern-3">
            <div class="vector-wrapper">
              <img class="vector" src="{% static 'img/vector-2.png' %}" />
            </div>
          </div>
        </div>
        <div class="frame-10">
          <div class="text-wrapper-10">مشاهده همه</div>
        </div>
        <div class="frame-11">
          <img class="vector-2" src="{% static 'img/Vector 4.png' %}" />
          <img class="line-3" src="{% static 'img/Line 11.png' %}" />
          <img class="vector-3" src="{% static 'img/Vector 5.png' %}" />
        </div>
        <div class="frame-12">
          <div class="frame-13">
            <div class="text-wrapper-11">۱۲۰۰ شانه</div>
            <div class="text-wrapper-11">۷۰۰ شانه</div>
            <div class="text-wrapper-12">۳۰۰ شانه</div>
          </div>
          <div class="frame-14">
            <div class="frame-15">
              <div class="img-wrapper">
                <img class="image-3" src="{% static 'img/image 48.png' %}" />
              </div>
              <div class="frame-2">
                <div class="text-wrapper-13">فرش تابان</div>
                <div class="frame-16">
                  <div class="text-wrapper-14">پلی پروپیلین</div>
                  <img class="line-4" src="img/line-10-4.svg" />
                  <div class="text-wrapper-14">تراکم ۹۶۰</div>
                  <img class="line-4" src="img/image.svg" />
                  <p class="div-2">
                    <span class="span">۳۰۰ ش</span>
                    <span class="text-wrapper-15">انه</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="frame-15">
              <div class="img-wrapper">
                <img class="image-4" src="{% static 'img/image 49.png' %}" />
              </div>
              <div class="frame-2">
                <div class="text-wrapper-13">فرش سحر</div>
                <div class="frame-16">
                  <div class="text-wrapper-16">پلی پروپیلین</div>
                  <img class="line-4" src="img/line-10-3.svg" />
                  <div class="text-wrapper-16">تراکم ۹۶۰</div>
                  <img class="line-4" src="img/line-9-2.svg" />
                  <div class="text-wrapper-16">۳۰۰ شانه</div>
                </div>
              </div>
            </div>
            <div class="frame-15">
              <div class="img-wrapper">
                <img class="image-5" src="{% static 'img/image 47.png' %}" />
              </div>
              <div class="frame-2">
                <div class="text-wrapper-13">فرش آذین</div>
                <div class="frame-16">
                  <div class="text-wrapper-16">پلی پروپیلین</div>
                  <img class="line-4" src="img/line-10.svg" />
                  <div class="text-wrapper-16">تراکم ۹۶۰</div>
                  <img class="line-4" src="img/line-9.svg" />
                  <div class="text-wrapper-16">۳۰۰ شانه</div>
                </div>
              </div>
            </div>
            <div class="frame-15">
              <div class="img-wrapper">
                <img class="image-3" src="{% static 'img/image 46.png' %}" />
              </div>
              <div class="frame-2">
                <div class="text-wrapper-13">فرش نقشینه</div>
                <div class="frame-16">
                  <div class="text-wrapper-16">پلی پروپیلین</div>
                  <img class="line-4" src="img/line-10-2.svg" />
                  <div class="text-wrapper-16">تراکم ۹۶۰</div>
                  <img class="line-4" src="img/line-9-3.svg" />
                  <div class="text-wrapper-16">۳۰۰ شانه</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-wrapper-20">CONTACT</div>
      <img class="frame-23" src="{% static 'img/vector-2.png' %}" />
      <div class="text-wrapper-21">AGENTS</div>
      <div class="frame-24">
        <div class="frame-25">
          <div class="frame-26">
            <div class="frame-9">
              <p class="text-wrapper-22">
                هر کجا هستید، نزدیک‌ترین نمایندگی کنار شماست
              </p>
            </div>
          </div>
          <p class="text-wrapper-23">
            فرش پرشین را از معتبرترین نمایندگی‌های ما در شهرهای مختلف ایران تهیه
            کنید.
          </p>
        </div>
        <div class="frame-27">
          <div class="text-wrapper-24">مشاهده نمایندگی‌ها</div>
        </div>
      </div>
      <img class="mask-group" src="{% static 'img/Mask group.png' %}" />
      <img class="ellipse-2" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-3" src="{% static 'img/Ellipse 20.png' %}" />
      <div class="ellipse-4"></div>
      <img class="ellipse-5" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-6" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-7" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-8" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-9" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-10" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-11" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-12" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-13" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-14" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-15" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-16" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-17" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-18" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="ellipse-19" src="{% static 'img/Ellipse 20.png' %}" />
      <img class="union" src="{% static 'img/Union.png' %}" />
      <div class="text-wrapper-25">مشهد</div>
      <div class="group-6">
        <img class="figma-cursor" src="{% static 'img/Figma Cursor.svg' %}" />
        <img
          class="figma-cursor-stroke"
          src="{% static 'img/Figma Cursor (Strock).svg' %}"
        />
      </div>
      {% include "footer.html" %} {% include "_navbar.html" %}
    </div>
  </body>
</html>
