{% extends "base.html" %}
{% load static %}

{% block head_assets %}
<link rel="stylesheet" href="{% static 'global/global.css' %}">
<link rel="stylesheet" href="{% static 'global/styleguide.css' %}">
<link rel="stylesheet" href="{% static 'home/m_styles.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
<link rel="stylesheet" href="{% static 'components/layouts/navbar.css' %}">
<link rel="stylesheet" href="{% static 'components/layouts/footer.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
{% comment %} this styles doesn't work on external css file. keep it here. {% endcomment %}
<style>

    .gallery-swiper-button {
    position: relative;
    width: 6.4rem;
    height: 6.4rem;
    inset: unset;
    margin: 0;
    padding: 0;
    background-color: white;
    svg {
        width: 2rem;
        height: 2rem;
    }
}
.swiper {
    width: 100%;
}
</style>
{% endblock %}

{% block body_attrs %} dir="rtl" class="page-home-mobile"{% endblock %}

{% block body %}
    {% comment %} header {% endcomment %}
    <header>
        {% include "components/layouts/navbar.html" %}
        <div class="hero">
            <div class="hero-video">
                <video id="heroVideo" src="{% static 'videos/carpet-video.mp4' %}" muted playsinline></video>
            </div>
        </div>  
    </header>
    {% comment %} gallery section {% endcomment %}
    <section id="gallery" class="gallery">
        <div class="gallery-typo-art">
            <img src="{% static 'imgs/gallery-typo.png' %}" alt="gallery art">
        </div>
        <div class="background-art">
            <h2 class="gallery-title">
                نگاهی به آثار<br> هنری ما
            </h2>
            <div class="gallery-swiper-navs">
                <div class="swiper-button-next gallery-swiper-button"></div>
                <div class="swiper-button-prev gallery-swiper-button"></div>
            </div>
            <a href="{% url 'products' %}" class="gallery-cta">مشاهده همه</a>
        </div>
        </div>
        <ul class="tab-button-list">
            <li class="tab-button">
                <button class="tablinks" onclick="openTab(event, 'swiper1')" id="defaultOpen">۳۰۰ شانه</button>
            </li>
            <li class="tab-button">
                <button class="tablinks" onclick="openTab(event, 'swiper2')">۷۰۰ شانه</button>
            </li>
            <li class="tab-button">
                <button class="tablinks" onclick="openTab(event, 'swiper3')">۱۲۰۰ شانه</button>
            </li>
        </ul>
        {% comment %} gallery swiper {% endcomment %}
        <div id="swiper1" class="tabcontent">
            <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۳۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۳۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۳۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۳۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۳۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۳۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۳۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="swiper2" class="tabcontent">
            <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper1.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۷۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper1.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۷۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper1.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۷۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper1.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۷۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper1.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۷۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper1.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۷۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="swiper3" class="tabcontent">
            <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper2.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۱۲۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper2.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۱۲۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper2.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۱۲۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper2.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۱۲۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper2.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۱۲۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-card">
                        <figure class="gallery-img">
                            <img src="{% static 'imgs/gallery-swiper2.png' %}" alt="gallery image">
                        </figure>
                        <h3 class="gallery-card-title">فرش آذین</h3>
                        <ul class="gallery-card-list">
                            <li class="gallery-card-item">۱۲۰۰ شانه</li>
                            <li class="gallery-card-item">تراکم ۹۶۰</li>
                            <li class="gallery-card-item">پلی پروپیلین</li>
                        </ul>
                    </div>
                </div>
            </div> 
        </div>
        </div>
        
        {% comment %} <div class="gallery-swiper-navs">
            <div class="swiper-button-next gallery-swiper-button"></div>
            <div class="swiper-button-prev gallery-swiper-button"></div>
        </div> {% endcomment %}
        {% comment %} <a href="{% url 'products' %}" class="gallery-cta">مشاهده همه</a> {% endcomment %}
    </section>
    {% comment %} artistry section {% endcomment %}
    <section class="artistry">
        <div style="position: relative; height: 100%" class="container">
            <div class="background-art">
                <h2 class="gallery-title">
                    ریشه در اصالت، <br> نگاه به آینده
                </h2>
            </div>
            <div class="gallery-typo-art">
                <img src="{% static 'imgs/artistry-typo.png' %}" alt="gallery art">
            </div>
            <figure class="artistry-img">
                <img src="{% static 'imgs/artistry-carpet.png' %}" alt="artistry-carpet">
            </figure>
            <div class="artistry-typo">
                <p>«ما باور داریم که فرش تنها یک پوشش برای زمین نیست، بلکه تابلویی از هنر، فرهنگ و هویت است. مجموعه ما با سال‌ها تجربه در عرضه‌ی فرش‌های اصیل و مدرن، تلاش می‌کند تا ترکیبی از زیبایی، کیفیت و اصالت را به خانه‌های شما بیاورد. هر فرش، داستانی دارد؛ داستانی از هنر دست یا طراحی مدرن که ماندگار و منحصر به فرد است. هدف ما این است که هر خانه با انتخاب شما، جلوه‌ای تازه و باشکوه پیدا کند.</p>
                <a href="{% url 'about' %}" class="artistry-cta">ادامه داستان ما</a>
            </div>
        </div>
    </section>
    {% comment %} agents section {% endcomment %}
    <section class="agents-section">
        <div style="position: relative; height: 100%" class="container">
            <figure class="agents-map"><img src="{% static 'imgs/agents-map.png' %}" alt="agents map"></figure>
            <div class="background-art">
                <h2 class="gallery-title">
                    هر کجا هستید، نزدیک‌ترین نمایندگی کنار شماست
                </h2>
            </div>
            <div class="gallery-typo-art">
                <img src="{% static 'imgs/agents-typo.png' %}" alt="gallery art">
            </div>
            <div class="artistry-typo">
                <p>فرش پرشین را از معتبرترین نمایندگی‌های ما در شهرهای مختلف ایران تهیه کنید.</p>
                <a href="{% url 'contact' %}" class="artistry-cta">مشاهده نمایندگی‌ها</a>
            </div>
        </div>
    </section>
    {% include "components/layouts/footer.html" %}
{% endblock %}

{% block extra_scripts %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
<script>
const video = document.getElementById("heroVideo");
const body = document.body;
const videoSection = video.parentElement;

// STATE MACHINE
let state = "idle";
let scrollPos = 0;
let lastScrollY = window.scrollY;

const WHEEL_SENSITIVITY = 0.00003; // slightly increased for snappier scroll
const TOUCH_SENSITIVITY = 0.0002; // slightly increased for smoother, faster touch scrubbing
const SMOOTHING = 1; // lerp for catch-up (keep moderate)

let targetTime = 0; // desired video time (set by interactions)
let displayedTime = 0; // smoothed time applied to video.currentTime
let lastAppliedTime = 0;
let lastSeekTime = 0;
// Increase these to reduce seek frequency (less work for the decoder)
const MIN_SEEK_DELTA = 0.01; // only seek when displayedTime changed this much (seconds)
const MIN_SEEK_INTERVAL = 10; // ms between seeks -> ~10fps max seeking

// smoothing RAF loop: lerp displayedTime toward targetTime and throttle seeks
function startSmoothingLoop() {
    function tick() {
        if (video && video.duration) {
            displayedTime += (targetTime - displayedTime) * SMOOTHING;
            const now = performance.now();
            const delta = Math.abs(displayedTime - lastAppliedTime);

            if (delta > MIN_SEEK_DELTA && (now - lastSeekTime) > MIN_SEEK_INTERVAL) {
                try {
                    video.currentTime = displayedTime;
                    lastAppliedTime = displayedTime;
                    lastSeekTime = now;
                } catch (err) {
                    // ignore transient seek errors
                }
            }
        }
        requestAnimationFrame(tick);
    }
    requestAnimationFrame(tick);
}
startSmoothingLoop();

// -------------------------------------------------
// OBSERVER – No autoplay, but re-enable scrubbing when entering viewport
// -------------------------------------------------
const observer = new IntersectionObserver(
    (entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                // Reactivate scrubbing if video was ended
                if (state === "ended") {
                    state = "scrubbing";
                }
            }
        });
    },
    { threshold: 0.5 }
);
observer.observe(videoSection);

// -------------------------------------------------
// SCROLL → SCRUB VIDEO (wheel)
// -------------------------------------------------
window.addEventListener(
    "wheel",
    (e) => {
        const deltaY = e.deltaY;
        const scrollDirection = deltaY > 0 ? "down" : "up";
        const rect = videoSection.getBoundingClientRect();
        const viewportHeight = window.innerHeight;

        // Activate scrubbing only when video section is in viewport
        if (
            rect.top < viewportHeight &&
            rect.bottom > 0
        ) {
            e.preventDefault();
            state = "scrubbing";

            scrollPos += deltaY * WHEEL_SENSITIVITY;
            scrollPos = Math.min(Math.max(scrollPos, 0), 1);

            if (video.duration) {
                targetTime = scrollPos * video.duration;
            }

            // Snap video section into view when scrolling up
            if (scrollDirection === "up") {
                if (rect.bottom <= viewportHeight && rect.bottom > 0) {
                    window.scrollTo({
                        top: window.scrollY - (viewportHeight - rect.bottom),
                        behavior: "smooth",
                    });
                }
            }

            // Unlock scroll when video reaches the end
            if (scrollPos >= 1) {
                state = "ended";
                document.documentElement.style.overflow = "auto";
                body.style.overflow = "auto";

                // Snap to next section
                const nextSectionTop = videoSection.offsetTop + videoSection.offsetHeight;
                window.scrollTo({
                    top: nextSectionTop,
                    behavior: "smooth",
                });
            }
        }
    },
    { passive: false }
);

// -------------------------------------------------
// TOUCH → SCRUB VIDEO (mobile)
// -------------------------------------------------
let touchStartY = null;
let isTouchScrubbing = false;

videoSection.addEventListener('touchstart', (e) => {
    if (e.touches.length !== 1) return;
    const rect = videoSection.getBoundingClientRect();
    if (rect.top < window.innerHeight && rect.bottom > 0) {
        touchStartY = e.touches[0].clientY;
        isTouchScrubbing = true;
        state = 'scrubbing';
        // prevent page from jumping while scrubbing
        document.documentElement.style.overflow = 'hidden';
        body.style.overflow = 'hidden';
    }
}, { passive: false });

videoSection.addEventListener('touchmove', (e) => {
    if (!isTouchScrubbing) return;
    e.preventDefault();
    const currentY = e.touches[0].clientY;
    const deltaY = touchStartY - currentY; // positive when swiping up
    touchStartY = currentY;

    scrollPos += deltaY * TOUCH_SENSITIVITY;
    scrollPos = Math.min(Math.max(scrollPos, 0), 1);

    // set target time, actual video time will be smoothed by RAF loop
    if (video.duration) {
        targetTime = scrollPos * video.duration;
    }

    // If we reach the end, release and snap to next section
    if (scrollPos >= 1) {
        state = 'ended';
        document.documentElement.style.overflow = 'auto';
        body.style.overflow = 'auto';
        isTouchScrubbing = false;
        // make sure targetTime is at the end so RAF can snap the video
        if (video.duration) targetTime = video.duration;
        const nextSectionTop = videoSection.offsetTop + videoSection.offsetHeight;
        window.scrollTo({ top: nextSectionTop, behavior: 'smooth' });
    }
}, { passive: false });

videoSection.addEventListener('touchend', (e) => {
    if (!isTouchScrubbing) return;
    isTouchScrubbing = false;
    touchStartY = null;
    if (state !== 'ended') {
        state = 'idle';
        document.documentElement.style.overflow = 'auto';
        body.style.overflow = 'auto';
    }
}, { passive: false });

// -------------------------------------------------
// Optional: Fallback end detection if video plays
// -------------------------------------------------
video.addEventListener("timeupdate", () => {
    if (video.currentTime >= video.duration - 0.1) {
        state = "ended";
        document.documentElement.style.overflow = "auto";
        body.style.overflow = "auto";
    }
});
</script>




<script>
const swiper = new Swiper('.swiper', {
    slidesPerView: 4,
    spaceBetween: 25,
    direction: 'horizontal',
    loop: false,
    navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
    },
    breakpoints: {
        320: {
            slidesPerView: 1,
            spaceBetween: 0,
        },
        479: {
            slidesPerView: 1,
            spaceBetween: 0,
        },
        767: {
            slidesPerView: 2,
            spaceBetween: 25,
        },
        1023: {
            slidesPerView: 3,
            spaceBetween: 25,
        },
        1199: {
            slidesPerView: 4,
            spaceBetween: 25,
        },
    }
});


// === GALLERY SCROLL REVEAL CONTROL ===
document.addEventListener("DOMContentLoaded", () => {
    const gallerySection = document.querySelector(".gallery");
    if (!gallerySection) return;

    const swiperContainer = gallerySection.querySelector(".tabcontent.active") || gallerySection.querySelector("#swiper1");
    const slides = Array.from(swiperContainer.querySelectorAll(".swiper-slide"));
    let shownSlides = 0;
    let animationStarted = false;
    let sectionInView = false;

    const getSlidesPerView = () => {
        if (typeof swiper === "undefined" || !swiper.params) return 1;
        const { currentBreakpoint, params } = swiper;
        const bpSlides = currentBreakpoint && params.breakpoints
            ? params.breakpoints[currentBreakpoint]?.slidesPerView
            : undefined;
        const baseSlides = params.slidesPerView;
        const active = typeof bpSlides === "number" ? bpSlides : baseSlides;
        return Math.max(1, typeof active === "number" ? active : 1);
    };

    const resetSlides = () => {
        slides.forEach((slide) => {
            slide.classList.remove("show-slide");
            slide.classList.add("hidden-slide");
        });
        shownSlides = 0;
        animationStarted = false;
    };

    let lockScroll = false;
    let touchStartY = 0;
    let accumulatedDelta = 0;

    // Hide slides initially
    slides.forEach((slide) => slide.classList.add("hidden-slide"));

    const showNextSlide = () => {
        const revealTarget = Math.min(slides.length, getSlidesPerView());
        if (shownSlides < revealTarget) {
            const slide = slides[shownSlides];
            slide.classList.add("show-slide");
            slide.classList.remove("hidden-slide");
            shownSlides++;

            if (shownSlides === revealTarget) {
                slides.forEach((s, idx) => {
                    if (idx >= revealTarget) {
                        s.classList.add("show-slide");
                        s.classList.remove("hidden-slide");
                    }
                });
                shownSlides = slides.length;
                unlockPageScroll();
            }
        }
    };

    const lockPageScroll = () => {
        lockScroll = true;
        document.body.style.overflow = "hidden";
    };

    const unlockPageScroll = () => {
        lockScroll = false;
        document.body.style.overflow = "";
        removeListeners();
        accumulatedDelta = 0;
    };

    const handleWheel = (e) => {
        if (!lockScroll) return;
        e.preventDefault();

        accumulatedDelta += e.deltaY;
        if (accumulatedDelta > 100) {
            showNextSlide();
            accumulatedDelta = 0;
        }
    };

    const handleTouchStart = (e) => {
        if (!lockScroll) return;
        touchStartY = e.touches[0].clientY;
    };

    const handleTouchMove = (e) => {
        if (!lockScroll) return;
        const diff = touchStartY - e.touches[0].clientY;
        if (diff > 40) {
            showNextSlide();
            touchStartY = e.touches[0].clientY;
        }
        e.preventDefault();
    };

    const addListeners = () => {
        window.addEventListener("wheel", handleWheel, { passive: false });
        window.addEventListener("touchstart", handleTouchStart, { passive: false });
        window.addEventListener("touchmove", handleTouchMove, { passive: false });
    };

    const removeListeners = () => {
        window.removeEventListener("wheel", handleWheel);
        window.removeEventListener("touchstart", handleTouchStart);
        window.removeEventListener("touchmove", handleTouchMove);
    };

    const checkSectionPosition = () => {
        const rect = gallerySection.getBoundingClientRect();
        const isVisible =
            rect.top < window.innerHeight * 0.75 &&
            rect.bottom > window.innerHeight * 0.25;

        // Section becomes visible → start animation
        if (!sectionInView && isVisible) {
            sectionInView = true;
            if (!animationStarted) {
                lockPageScroll();
                addListeners();
                animationStarted = true;
            }
        }

        // Section completely out of view → reset
        if (sectionInView && !isVisible) {
            sectionInView = false;
            resetSlides();
            unlockPageScroll();
        }
    };

    // --------------------------
    // NEW FEATURE: Snap gallery section when scrolling up
    // --------------------------
    window.addEventListener("wheel", (e) => {
        const deltaY = e.deltaY;
        const scrollDirection = deltaY > 0 ? "down" : "up";
        if (scrollDirection === "up") {
            const rect = gallerySection.getBoundingClientRect();
            const viewportHeight = window.innerHeight;

            // If bottom of section is visible but not fully
            if (rect.bottom <= viewportHeight && rect.bottom > 0) {
                window.scrollTo({
                    top: window.scrollY - (viewportHeight - rect.bottom),
                    behavior: "smooth",
                });
            }
        }
    }, { passive: false });

    window.addEventListener("scroll", checkSectionPosition);
    checkSectionPosition(); // initial check
});


</script>
<script>
    document.getElementById("defaultOpen").click();
    function openTab(evt, tabName) {
    var i, tabcontent, tablinks;

    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
    }
</script>
<script src="{% static 'js/slider.js' %}"></script>
{% endblock %}
