.abou-us {
  background-color: #18181b;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 3102px;
  position: relative;
}

.abou-us .mask-group {
  position: absolute;
  top: 80px;
  left: 829px;
  width: 608px;
  height: 559px;
}

.abou-us .frame {
  display: flex;
  flex-direction: column;
  width: 559px;
  align-items: flex-end;
  gap: 24px;
  position: absolute;
  top: 186px;
  left: 779px;
}

.abou-us .div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 28px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.abou-us .frame-2 {
  display: flex;
  flex-direction: column;
  width: 588px;
  align-items: flex-end;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -29px;
}

.abou-us .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--bold-h2-font-family);
  font-weight: var(--bold-h2-font-weight);
  color: #f4f4f5;
  font-size: var(--bold-h2-font-size);
  line-height: var(--bold-h2-line-height);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--bold-h2-letter-spacing);
  direction: rtl;
  font-style: var(--bold-h2-font-style);
}

.abou-us .line {
  position: relative;
  width: 490px;
  height: 4px;
}

.abou-us .p {
  position: relative;
  align-self: stretch;
  font-family: var(--regular-h4-font-family);
  font-weight: var(--regular-h4-font-weight);
  color: #d4d4d8;
  font-size: var(--regular-h4-font-size);
  line-height: var(--regular-h4-line-height);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--regular-h4-letter-spacing);
  direction: rtl;
  font-style: var(--regular-h4-font-style);
}

.abou-us .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.abou-us .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--regular-sub1-font-family);
  font-weight: var(--regular-sub1-font-weight);
  color: #d4d4d8;
  font-size: var(--regular-sub1-font-size);
  line-height: var(--regular-sub1-line-height);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--regular-sub1-letter-spacing);
  direction: rtl;
  font-style: var(--regular-sub1-font-style);
}

.abou-us .div-wrapper {
  display: inline-flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  background-color: var(--rectangle-7);
}

.abou-us .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -3px;
  margin-bottom: -1px;
  font-family: var(--bold-sub1-font-family);
  font-weight: var(--bold-sub1-font-weight);
  color: #ffffff;
  font-size: var(--bold-sub1-font-size);
  line-height: var(--bold-sub1-line-height);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--bold-sub1-letter-spacing);
  direction: rtl;
  font-style: var(--bold-sub1-font-style);
}

.abou-us .img {
  position: absolute;
  top: 590px;
  left: calc(50% - 630px);
  width: 1260px;
  height: 395px;
}

.abou-us .text-wrapper-4 {
  position: absolute;
  top: 1225px;
  left: calc(50% - 732px);
  width: 1039px;
  height: 207px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "IRANYekanWeb-Bold", Helvetica;
  font-weight: 700;
  color: #27272a52;
  font-size: 184px;
  text-align: center;
  letter-spacing: 0;
  line-height: 80px;
}

.abou-us .frame-4 {
  position: absolute;
  top: 1234px;
  right: 0;
  width: 493px;
  height: 757px;
  background-color: var(--rectangle-7);
}

.abou-us .islamic-pattern {
  position: absolute;
  top: 0;
  left: 116px;
  width: 376px;
  height: 376px;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}

.abou-us .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  position: absolute;
  top: 30px;
  left: 128px;
}

.abou-us .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  transform: rotate(180deg);
}

.abou-us .text-wrapper-5 {
  position: relative;
  width: fit-content;
  transform: rotate(180deg);
  font-family: var(--bold-h3-font-family);
  font-weight: var(--bold-h3-font-weight);
  color: #e4e4e7;
  font-size: var(--bold-h3-font-size);
  line-height: var(--bold-h3-line-height);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--bold-h3-letter-spacing);
  direction: rtl;
  font-style: var(--bold-h3-font-style);
}

.abou-us .line-2 {
  position: relative;
  width: 250px;
  height: 4px;
  margin-top: -4px;
  transform: rotate(-180deg);
}

.abou-us .islamic-pattern-2 {
  top: 376px;
  position: absolute;
  left: 0;
  width: 376px;
  height: 376px;
  background-image: url(./img/vector-2.svg);
  background-size: 100% 100%;
}

.abou-us .islamic-pattern-3 {
  top: 752px;
  position: absolute;
  left: 0;
  width: 376px;
  height: 376px;
  background-image: url(./img/image.svg);
  background-size: 100% 100%;
}

.abou-us .frame-6 {
  display: flex;
  flex-direction: column;
  width: 1236px;
  align-items: center;
  gap: 64px;
  position: absolute;
  top: 1360px;
  left: 102px;
}

.abou-us .frame-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.abou-us .frame-8 {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.abou-us .frame-9 {
  display: flex;
  flex-direction: column;
  width: 285px;
  align-items: flex-start;
  gap: 12px;
  position: relative;
}

.abou-us .image-wrapper {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 371px;
  background-color: #ffffff;
  border: 5px solid;
  border-color: #d4d4d8;
  box-shadow: 0px 4px 12px #49474740;
}

.abou-us .image {
  top: 5px;
  left: 5px;
  width: 275px;
  height: 361px;
  aspect-ratio: 0.76;
  position: absolute;
  object-fit: cover;
}

.abou-us .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.abou-us .exemplary-national {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--bold-sub1-font-family);
  font-weight: var(--bold-sub1-font-weight);
  color: #e4e4e7;
  font-size: var(--bold-sub1-font-size);
  letter-spacing: var(--bold-sub1-letter-spacing);
  line-height: var(--bold-sub1-line-height);
  font-style: var(--bold-sub1-font-style);
}

.abou-us .frame-11 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.abou-us .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--regular-sub1-font-family);
  font-weight: var(--regular-sub1-font-weight);
  color: #a1a1aa;
  font-size: var(--regular-sub1-font-size);
  letter-spacing: var(--regular-sub1-letter-spacing);
  line-height: var(--regular-sub1-line-height);
  white-space: nowrap;
  font-style: var(--regular-sub1-font-style);
}

.abou-us .frame-12 {
  display: flex;
  flex-direction: column;
  height: 64px;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.abou-us .frame-13 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 24px;
  position: relative;
  flex: 0 0 auto;
  border: 1px solid;
  border-color: var(--primarymain);
}

.abou-us .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--bold-sub1-font-family);
  font-weight: var(--bold-sub1-font-weight);
  color: var(--rectangle-7);
  font-size: var(--bold-sub1-font-size);
  line-height: var(--bold-sub1-line-height);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--bold-sub1-letter-spacing);
  direction: rtl;
  font-style: var(--bold-sub1-font-style);
}

.abou-us .text-wrapper-8 {
  position: absolute;
  top: 228px;
  left: 102px;
  width: 660px;
  height: 224px;
  font-family: var(--regular-h6-font-family);
  font-weight: var(--regular-h6-font-weight);
  color: var(--colour-swatch);
  font-size: var(--regular-h6-font-size);
  line-height: var(--regular-h6-line-height);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--regular-h6-letter-spacing);
  direction: rtl;
  font-style: var(--regular-h6-font-style);
}

.abou-us .text-wrapper-9 {
  position: absolute;
  top: 1009px;
  left: calc(50% - 618px);
  width: 1236px;
  height: 112px;
  font-family: var(--regular-h6-font-family);
  font-weight: var(--regular-h6-font-weight);
  color: var(--colour-swatch);
  font-size: var(--regular-h6-font-size);
  line-height: var(--regular-h6-line-height);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--regular-h6-letter-spacing);
  direction: rtl;
  font-style: var(--regular-h6-font-style);
}

.abou-us .frame-14 {
  position: fixed;
  top: 0;
  left: 0;
  width: 1440px;
  height: 104px;
  backdrop-filter: blur(2px) brightness(100%);
  -webkit-backdrop-filter: blur(2px) brightness(100%);
}

.abou-us .image-2 {
  top: calc(50% - 32px);
  left: calc(50% + 500px);
  width: 118px;
  height: 64px;
  aspect-ratio: 1.85;
  position: absolute;
  object-fit: cover;
}

.abou-us .navbar {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  position: absolute;
  top: calc(50% - 13px);
  right: 252px;
}

.abou-us .text-wrapper-10 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--bold-sub2-font-family);
  font-weight: var(--bold-sub2-font-weight);
  color: #f4f4f5;
  font-size: var(--bold-sub2-font-size);
  text-align: left;
  letter-spacing: var(--bold-sub2-letter-spacing);
  line-height: var(--bold-sub2-line-height);
  white-space: nowrap;
  direction: rtl;
  font-style: var(--bold-sub2-font-style);
}

.abou-us .text-wrapper-11 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--bold-sub2-font-family);
  font-weight: var(--bold-sub2-font-weight);
  color: var(--primary-300);
  font-size: var(--bold-sub2-font-size);
  text-align: left;
  letter-spacing: var(--bold-sub2-letter-spacing);
  line-height: var(--bold-sub2-line-height);
  white-space: nowrap;
  direction: rtl;
  font-style: var(--bold-sub2-font-style);
}

.abou-us .interface-search {
  position: absolute;
  width: 20px;
  top: calc(50% - 10px);
  left: 7.08%;
  height: 20px;
  aspect-ratio: 1;
}

.abou-us .communication-phone {
  position: absolute;
  width: 20px;
  top: calc(50% - 10px);
  left: 9.58%;
  height: 20px;
  aspect-ratio: 1;
}

.abou-us .group {
  position: absolute;
  top: 2500px;
  left: calc(50% - 720px);
  width: 1444px;
  height: 568px;
}

.abou-us .frame-15 {
  position: absolute;
  top: 0;
  left: calc(50% - 722px);
  width: 1440px;
  height: 370px;
  overflow: hidden;
  background-image: url("../img/image 53.png");
  background-size: cover;
  background-position: 50% 50%;
}

.abou-us .rectangle {
  position: absolute;
  top: -69px;
  left: 0;
  width: 1440px;
  height: 482px;
  background-color: #27272a66;
  filter: blur(4.5px);
  backdrop-filter: blur(2px) brightness(100%);
  -webkit-backdrop-filter: blur(2px) brightness(100%);
}

.abou-us .ellipse {
  position: absolute;
  top: calc(50% - 136px);
  left: calc(50% - 136px);
  width: 272px;
  height: 272px;
  background-color: #27272ab2;
  border-radius: 136px;
  filter: blur(126px);
}

.abou-us .frame-16 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: calc(50% - 142px);
  left: calc(50% - 278px);
}

.abou-us .frame-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.abou-us .img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  transform: rotate(180deg);
}

.abou-us .image-3 {
  position: relative;
  width: 224px;
  height: 121px;
  transform: rotate(-180deg);
  aspect-ratio: 1.85;
  object-fit: cover;
}

.abou-us .frame-18 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.abou-us .text-wrapper-12 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--bold-h6-font-family);
  font-weight: var(--bold-h6-font-weight);
  color: #f4f4f5;
  font-size: var(--bold-h6-font-size);
  text-align: center;
  letter-spacing: var(--bold-h6-letter-spacing);
  line-height: var(--bold-h6-line-height);
  white-space: nowrap;
  direction: rtl;
  font-style: var(--bold-h6-font-style);
}

.abou-us .text-wrapper-13 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--bold-sub2-font-family);
  font-weight: var(--bold-sub2-font-weight);
  color: #d4d4d8;
  font-size: var(--bold-sub2-font-size);
  text-align: center;
  letter-spacing: var(--bold-sub2-letter-spacing);
  line-height: var(--bold-sub2-line-height);
  font-style: var(--bold-sub2-font-style);
}

.abou-us .text-wrapper-14 {
  position: relative;
  width: fit-content;
  font-family: var(--bold-h6-font-family);
  font-weight: var(--bold-h6-font-weight);
  color: #f4f4f5;
  font-size: var(--bold-h6-font-size);
  line-height: var(--bold-h6-line-height);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--bold-h6-letter-spacing);
  direction: rtl;
  font-style: var(--bold-h6-font-style);
}

.abou-us .frame-19 {
  display: inline-flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 32px;
  position: relative;
  background-color: #008684;
  border: 1px solid;
  border-color: var(--rectangle-7);
}

.abou-us .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -6px;
  margin-bottom: -4px;
  font-family: var(--bold-sub2-font-family);
  font-weight: var(--bold-sub2-font-weight);
  color: #f4f4f5;
  font-size: var(--bold-sub2-font-size);
  line-height: var(--bold-sub2-line-height);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--bold-sub2-letter-spacing);
  direction: rtl;
  font-style: var(--bold-sub2-font-style);
}

.abou-us .text-wrapper-16 {
  position: absolute;
  top: 361px;
  left: calc(50% - 417px);
  width: 829px;
  height: 207px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "IRANYekanX-ExtraBlack", Helvetica;
  font-weight: 950;
  color: #27272a52;
  font-size: 184px;
  text-align: center;
  letter-spacing: -12px;
  line-height: 32px;
}

.abou-us .text-wrapper-17 {
  position: absolute;
  top: 528px;
  left: calc(50% - 182px);
  height: 26px;
  font-family: var(--bold-sub2-font-family);
  font-weight: var(--bold-sub2-font-weight);
  color: #d4d4d8;
  font-size: var(--bold-sub2-font-size);
  text-align: left;
  line-height: var(--bold-sub2-line-height);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--bold-sub2-letter-spacing);
  direction: rtl;
  font-style: var(--bold-sub2-font-style);
}

.abou-us .frame-20 {
  display: flex;
  flex-direction: column;
  width: 557px;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 442px;
  left: calc(50% - 280px);
}

.abou-us .frame-21 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 120px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.abou-us .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -5px;
  font-family: var(--bold-sub2-font-family);
  font-weight: var(--bold-sub2-font-weight);
  color: #f4f4f5;
  font-size: var(--bold-sub2-font-size);
  text-align: left;
  line-height: var(--bold-sub2-line-height);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--bold-sub2-letter-spacing);
  direction: rtl;
  font-style: var(--bold-sub2-font-style);
}
