{% load static %}
<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}فرش پرشین مشهد{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'imgs/logo.png' %}" type="image/x-icon">
    {% block head_assets %}{% endblock %}
  </head>
  <body{% block body_attrs %}{% endblock %}>
    {% block body %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
