{% load static %}
<div class="frame-17">
  <div class="rectangle-2"></div>
  <div class="ellipse"></div>
  <div class="frame-18">
    <div class="frame-19">
      <div class="frame-20">
        <img class="image-6" src="{% static 'img/image 37.png' %}" />
      </div>
      <div class="frame-21">
        <div class="text-wrapper-17">۰۵۱۳-۵۴۱۱-۵۶۷</div>
        <div class="info">Info@farshpersianmashhad.com</div>
        <p class="text-wrapper-18">
          مشهد، شهرک صنعتی طوس، فاز یک، بلوار تلاش شمالی، تلاش شمالی ۵/۴
        </p>
      </div>
    </div>
    <div class="frame-22">
      <div class="text-wrapper-19">تماس باما</div>
    </div>
  </div>
</div>

<div class="frame-29">
  <div class="frame-30">
    <div class="text-wrapper-26">تماس با ما</div>
    <div class="text-wrapper-26">درباره ما</div>
    <div class="text-wrapper-26">گالری</div>
    <div class="text-wrapper-26">محصولات</div>
  </div>
</div>
<p class="text-wrapper-27">
  © ۱۴۰۴ فرش پرشین – کلیه حقوق این وبسایت محفوظ است.
</p>
