{% load static %}
<footer>
    <div class="footer-content">
        <div class="footer-overlay"></div>
        <figure class="footer-logo"><img src="{% static 'imgs/footer-logo.png' %}" alt="footer logo"></figure>
        <span class="footer-number">{% include "components/fragments/contact_phone.html" %}</span>
        <span class="footer-email">{% include "components/fragments/contact_email.html" %}</span>
        <span class="footer-address">{% include "components/fragments/contact_address.html" %}</span>
        <a href="{% url 'contact' %}" class="footer-cta">تماس با ما</a>
    </div>
    <div class="footer-copyright">
        <figure class="footer-typo">
            <img src="{% static 'imgs/footer-typo.png' %}" alt="footer typo">
        </figure>
        <ul class="footer-copyright-list">
            <li class="footer-copyright-item"><a href="{% url 'products' %}">محصولات</a></li>
            <li class="footer-copyright-item"><a href="{% url 'home' %}#gallery">گالری</a></li>
            <li class="footer-copyright-item"><a href="{% url 'about' %}">درباره ما</a></li>
            <li class="footer-copyright-item"><a href="{% url 'contact' %}">تماس با ما</a></li>
        </ul>
        <span class="footer-copyright-text">© ۱۴۰۴ فرش پرشین – کلیه حقوق این وبسایت محفوظ است.</span>
    </div>
</footer>