{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'components/layouts/navbar.css' %}">
</head>
<nav>
    <div class="container">
        <div class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="" class="navbar-link logo">
                        <img src="{% static 'imgs/logo.png' %}" alt="navbar logo">
                    </a>
                </li>
                <li class="navbar-item">
                    <a href="" class="navbar-link">خانه</a>
                </li>
                <li class="navbar-item">
                    <a href="" class="navbar-link">محصولات</a>
                </li>
                <li class="navbar-item">
                    <a href="" class="navbar-link">گالری</a>
                </li>
                <li class="navbar-item">
                    <a href="" class="navbar-link">درباره ما</a>
                </li>
                <li class="navbar-item">
                    <a href="" class="navbar-link">تماس با ما</a>
                </li>
            </ul>
            <ul class="navbar-list">
                <li class="navbar-icon-item">
                    <a href="" class="navbar-icon"><img src="{% static 'imgs/icons/search.svg' %}" alt="search icon"></a>
                </li>
                <li class="navbar-icon-item">
                    <a href="" class="navbar-icon"><img src="{% static 'imgs/icons/phone.svg' %}" alt="phone icon"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>