{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'about-us/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'about-us/styleguid.css' %}" />
    <link rel="stylesheet" href="{% static 'about-us/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/fonts.css' %}" />
  </head>
  <body>
    <div class="abou-us">
      <img class="mask-group" src="{% static 'img/Mask group 2.png' %}" />
      <div class="frame">
        <div class="div">
          <div class="frame-2">
            <div class="text-wrapper">درباره کارخانه<br />فرش پرشین مشهد</div>
            <img class="line" src="{% static 'img/Line 18.png' %}" />
            <p class="p">تجلی هنر و کیفیت در فرش پرشین مشهد</p>
          </div>
          <div class="frame-3">
            <p class="text-wrapper-2">
              فروش فقط از طریق نمایندگی / تماس مستقیم
            </p>
            <div class="div-wrapper">
              <div class="text-wrapper-3">مشاهده نمایندگی‌ها</div>
            </div>
          </div>
        </div>
      </div>
      <img class="img" src="{% static 'img/Frame 83.png' %}" />
      <div class="text-wrapper-4">Awards</div>
      <div class="frame-4">
        <div class="islamic-pattern">
          <div class="vector-wrapper">
            <img class="vector" src="{% static 'img/vector-2.png' %}" />
            <img class="vector" src="{% static 'img/vector-2.png' %}" />
          </div>
        </div>
        <div class="frame-wrapper">
          <div class="frame-5">
            <div class="text-wrapper-5">جوایز و افتخارات ما</div>
            <img class="line-2" src="{% static 'img/Line 8.png' %}" />
          </div>
        </div>
        <div class="islamic-pattern-2"></div>
        <div class="islamic-pattern-3"></div>
      </div>
      <div class="frame-6">
        <div class="frame-7">
          <div class="frame-8">
            <div class="frame-9">
              <div class="image-wrapper">
                <img class="image" src="{% static 'img/T1.png' %}" />
              </div>
              <div class="frame-10">
                <div class="exemplary-national">
                  Exemplary National Exporter of
                </div>
                <div class="frame-11">
                  <div class="text-wrapper-6">the Year, 2021</div>
                </div>
              </div>
            </div>
            <div class="frame-9">
              <div class="image-wrapper">
                <img class="image" src="{% static 'img/T2.png' %}" />
              </div>
              <div class="frame-10">
                <div class="exemplary-national">
                  Exemplary National Exporter of
                </div>
                <div class="frame-11">
                  <div class="text-wrapper-6">the Year, 2021</div>
                </div>
              </div>
            </div>
            <div class="frame-9">
              <div class="image-wrapper">
                <img class="image" src="{% static 'img/T3.png' %}" />
              </div>
              <div class="frame-10">
                <div class="exemplary-national">
                  Exemplary National Exporter of
                </div>
                <div class="frame-11">
                  <div class="text-wrapper-6">the Year, 2021</div>
                </div>
              </div>
            </div>
            <div class="frame-9">
              <div class="image-wrapper">
                <img class="image" src="{% static 'img/T4.png' %}" />
              </div>
              <div class="frame-12">
                <div class="exemplary-national">
                  Exemplary National Exporter of
                </div>
                <div class="frame-11">
                  <div class="text-wrapper-6">the Year, 2021</div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-8">
            <div class="frame-9">
              <div class="image-wrapper">
                <img class="image" src="{% static 'img/T1.png' %}" />
              </div>
              <div class="frame-10">
                <div class="exemplary-national">
                  Exemplary National Exporter of
                </div>
                <div class="frame-11">
                  <div class="text-wrapper-6">the Year, 2021</div>
                </div>
              </div>
            </div>
            <div class="frame-9">
              <div class="image-wrapper">
                <img class="image" src="{% static 'img/T2.png' %}" />
              </div>
              <div class="frame-10">
                <div class="exemplary-national">
                  Exemplary National Exporter of
                </div>
                <div class="frame-11">
                  <div class="text-wrapper-6">the Year, 2021</div>
                </div>
              </div>
            </div>
            <div class="frame-9">
              <div class="image-wrapper">
                <img class="image" src="{% static 'img/T3.png' %}" />
              </div>
              <div class="frame-10">
                <div class="exemplary-national">
                  Exemplary National Exporter of
                </div>
                <div class="frame-11">
                  <div class="text-wrapper-6">the Year, 2021</div>
                </div>
              </div>
            </div>
            <div class="frame-9">
              <div class="image-wrapper">
                <img class="image" src="{% static 'img/T4.png' %}" />
              </div>
              <div class="frame-12">
                <div class="exemplary-national">
                  Exemplary National Exporter of
                </div>
                <div class="frame-11">
                  <div class="text-wrapper-6">the Year, 2021</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-13">
          <div class="text-wrapper-7">مشاهده ‌بیشتر</div>
        </div>
      </div>
      <p class="text-wrapper-8">
        <span>ما جمعی از هنرمندان، طراحان و متخصصان صنعت فرش هستیم که با عشق و شور به
        خلق آثار هنری بی‌نظیر در قالب فرش‌های ایرانی مشغول هستیم. کارخانه ما با
        افتخار توانسته است با استفاده از مواد اولیه با کیفیت و تکنولوژی‌های
        نوین، محصولاتی با بالاترین استانداردهای جهانی تولید کند.</span><br /><br />کارخانه
        ما با سال‌ها تجربه و سابقه درخشان در صنعت فرش، توانسته است جایگاه
        ویژه‌ای در بازارهای داخلی و خارجی به دست آورد. از زمان تأسیس، ما همواره
        در تلاش بوده‌ایم تا با ارائه محصولات با کیفیت و متنوع، رضایت مشتریان خود
        را جلب کنیم.
      </p>
      <p class="text-wrapper-9">
        کیفیت برتر محصولات: ما با استفاده از بهترین مواد اولیه و بهره‌گیری از
        تکنولوژی‌های مدرن، تلاش می‌کنیم تا محصولاتی با بالاترین کیفیت را به
        مشتریان ارائه دهیم. هر فرش با دقت و عشق ساخته می‌شود تا اطمینان حاصل
        کنیم که مشتریان ما از محصول نهایی رضایت کامل دارند.<br />نوآوری و
        خلاقیت: ما با ترکیب هنر سنتی و نوآوری مدرن، به دنبال ایجاد طرح‌ها و
        الگوهای جدیدی هستیم که نمایانگر فرهنگ و تاریخ غنی ایران باشد. طرح‌های ما
        با الهام از الگوهای کلاسیک و با استفاده از رنگ‌های زنده و شاداب، هنر فرش
        ایرانی را به نمایش می‌گذارند.
      </p>

      <div class="frame-14">
        <div class="navbar">
          <img class="image-2" src="{% static 'img/image 37.png' %}" />
          <a class="text-wrapper-10" href="/home">خانه</a>
          <a class="text-wrapper-10" href="/products">محصولات</a>
          <a class="text-wrapper-10">گالری</a>
          <a class="text-wrapper-10 active" href="/about-us">درباره ما</a>
          <a class="text-wrapper-10" href="/contact-us">تماس با ما</a>
        </div>
        <figure class="navbar-icons">
          <img class="communication-phone" src="{% static 'img/Phone.png' %}" />
          <img class="interface-search" src="{% static 'img/Search.png' %}" />
        </figure>
      </div>
      <div class="group">
        <div class="frame-15">
          <div class="rectangle"></div>
          <div class="ellipse"></div>
          <div class="frame-16">
            <div class="frame-17">
              <div class="img-wrapper">
                <img class="image-3" src="{% static 'img/image 37.png' %}" />
              </div>
              <div class="frame-18">
                <div class="text-wrapper-12">۰۵۱۳-۵۴۱۱-۵۶۷</div>
                <div class="text-wrapper-13">info@farshpersianmashhad.com</div>
                <p class="text-wrapper-14">
                  مشهد، شهرک صنعتی طوس، فاز یک، بلوار تلاش شمالی، تلاش شمالی ۵/۴
                </p>
              </div>
            </div>
            <div class="frame-19">
              <a class="text-wrapper-15" href="/contact-us">تماس باما</a>
            </div>
          </div>
        </div>
        <div class="text-wrapper-16">CONTACT</div>
        <p class="text-wrapper-17">
          © ۱۴۰۴ فرش پرشین – کلیه حقوق این وبسایت محفوظ است.
        </p>
        <div class="frame-20">
          <div class="frame-21">
            <a class="text-wrapper-18" href="/contact-us">تماس با ما</a>
            <a class="text-wrapper-10" href="/about-us">درباره ما</a>
            <a class="text-wrapper-10">گالری</a>
            <a class="text-wrapper-10" href="/products">محصولات</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
