{% extends "base.html" %}
{% load static %}

{% block head_assets %}
<link rel="stylesheet" href="{% static 'global/global.css' %}">
<link rel="stylesheet" href="{% static 'global/styleguide.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'products/globals.css' %}">
<link rel="stylesheet" href="{% static 'products/styleguid.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'products/style.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'products/m_styles.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
<link rel="stylesheet" href="{% static 'components/layouts/navbar.css' %}">
<link rel="stylesheet" href="{% static 'components/layouts/footer.css' %}">
{% endblock %}

{% block body_attrs %} dir="rtl" class="page-about-us"{% endblock %}

{% block body %}
    {% include "components/layouts/navbar.html" %}
    
    {% include "components/layouts/footer.html" %}
{% endblock body %}