{% extends "base.html" %}
{% load static %}

{% block head_assets %}
<link rel="stylesheet" href="{% static 'contact-us/globals.css' %}">
<link rel="stylesheet" href="{% static 'contact-us/styleguid.css' %}">
<link rel="stylesheet" href="{% static 'contact-us/style.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
{% endblock %}

{% block body_attrs %} dir="rtl" class="page-contact"{% endblock %}

{% block body %}
  <div class="abou-us">
    <img class="vector" src="{% static 'img/Vector 8.png' %}" />
    <div class="text-wrapper">CONTACT US</div>
    <div class="div">ارتباط با ما</div>
    <div class="frame">
      <div class="frame-2">
        <div class="frame-3">
          <div class="frame-4">
            <div class="text-field">
              <p class="p">
                <span class="span">نام </span>
                <span class="text-wrapper-2">*</span>
              </p>
            </div>
            <div class="text-field">
              <div class="text-wrapper-3">شماره تلفن</div>
            </div>
            <div class="text-field">
              <p class="p">
                <span class="span">ایمیل </span>
                <span class="text-wrapper-2">*</span>
              </p>
            </div>
          </div>
          <div class="dropdown">
            <div class="text-wrapper-4">متن پیام ...</div>
          </div>
        </div>
        <div class="div-wrapper"><div class="text-wrapper-5">ارسال</div></div>
      </div>
      <div class="frame-5">
        <div class="frame-6">
          <div class="frame-7">
            <p class="text-wrapper-6">
              {% include "components/fragments/contact_address.html" %}
            </p>
            <div class="text-wrapper-7">موقعیت ما:</div>
            <img class="img" src="{% static 'img/House.png' %}" />
          </div>
          <div class="frame-8">
            <div class="text-wrapper-8">@Farah.Persian.Mashhad</div>
            <div class="text-wrapper-7">صفحه اینستاگرام ما:</div>
            <div class="instagram-svgrepo">
              <img class="vector-2" src="{% static 'img/Vector 08.png' %}" />
              <img class="vector-3" src="{% static 'img/Vector 07.png' %}" />
            </div>
          </div>
          <div class="frame-8">
            <div class="text-wrapper-8">www.farshpersianmashhad.com</div>
            <div class="text-wrapper-7">نشانی وبسایت:</div>
            <img class="img" src="{% static 'img/Globe.png' %}" />
          </div>
          <div class="frame-8">
            <div class="text-wrapper-8">05156741135 - 05131480000</div>
            <div class="text-wrapper-7">شماره تماس:</div>
            <img class="img" src="{% static 'img/Phone.png' %}" />
          </div>
        </div>
        <div class="islamic-pattern-wrapper">
          <div class="islamic-pattern">
            <div class="group">
              <img class="vector-4" src="{% static 'img/vector-2.png' %}" />
            </div>
            <div class="frame-9">
              <div class="frame-10">
                <p class="text-wrapper-6">
                  شعبه ۱: خیابان فلسطین، ‌نبش فلسطين ۶
                </p>
                <img
                  class="navigation-map-pin"
                  src="{% static 'img/Map_Pin.png' %}"
                />
              </div>
              <div class="frame-11">
                <p class="text-wrapper-6">شعبه ۲: خیابان مصلی، نبش مصلی ۳</p>
                <img
                  class="navigation-map-pin"
                  src="{% static 'img/Map_Pin.png' %}"
                />
              </div>
              <div class="frame-11">
                <p class="text-wrapper-6">
                  شعبه ۳: حدفاصل چهارراه شهدا و چهارراه خسروی، مقابل مخابرات
                </p>
                <img
                  class="navigation-map-pin"
                  src="{% static 'img/Map_Pin.png' %}"
                />
              </div>
              <div class="frame-10">
                <p class="text-wrapper-6">
                  شعبه ۴: خیابان مصلی، بین چمن ۵۹ و ۶۱
                </p>
                <img
                  class="navigation-map-pin"
                  src="{% static 'img/Map_Pin.png' %}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-wrapper">
      <div class="frame-12">
        <div class="frame-13">
          <img class="line" src="{% static 'img/Line 8.png' %}" />
          <p class="text-wrapper-9">
            هر کجا هستید، نزدیک‌ترین نمایندگی کنار شماست
          </p>
        </div>
      </div>
    </div>
    <div class="text-wrapper-10">AGENTS</div>
    <div class="group-2">
      <img class="mask-group" src="{% static 'img/Mask group.png' %}" />
      <img class="group-3" src="{% static 'img/Group 1140.png' %}" />
      <div class="text-wrapper-11">مشهد</div>
    </div>
    <div class="frame-14">
      <div class="frame-15">
        <div class="frame-16">
          <img class="img" src="{% static 'img/chevron-up.png' %}" />
          <div class="text-wrapper-12">مشهد</div>
        </div>
        <div class="frame-17">
          <div class="frame-18">
            <div class="text-wrapper-13">فروشگاه‌ها</div>
          </div>
          <p class="text-wrapper-14">
            فروشگاه مرکزی | تلفن تماس: ۳۲۲۲۴۰۰۰-۰۵۱<br />فروشگاه پاداش | تلفن
            تماس: ۳۳۶۵۳۰۱۰-۰۵۱<br />فروشگاه نگین مصلی | تلفن تماس:
            ۳۲۳۰۰۰۰۰-۰۵۱<br />فروشگاه فلسطین | تلفن تماس: ۳۷۶۸۱۰۴۰-۰۵۱
          </p>
          <div class="frame-18">
            <div class="text-wrapper-13">نمایندگی‌ها</div>
          </div>
          <p class="text-wrapper-14">
            نمایندگی بهمنی | تلفن تماس: ۰۹۱۵۵۰۹۸۸۷۴<br />نمایندگی امیری | تلفن
            تماس: ۰۹۱۵۱۰۷۲۵۶۴<br />نمایندگی جعفری | تلفن تماس: ۰۹۱۵۱۵۷۳۲۴۲<br />نمایندگی
            نبی‌زاده | تلفن تماس: ۰۹۱۵۵۰۲۶۱۵۴<br />نمایندگی اصلاحی | تلفن
            تماس: ۰۹۱۵۳۰۳۳۰۵۱<br />نمایندگی حسینی | تلفن تماس: ۰۹۱۵۱۱۰۰۰۸۰<br />نمایندگی
            غلامزاده | تلفن تماس: ۰۹۱۵۵۱۵۹۶۹۲
          </p>
        </div>
      </div>
      <div class="frame-19">
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">تهران</div>
        </div>
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">اصفهان</div>
        </div>
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">تبریز</div>
        </div>
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">شیراز</div>
        </div>
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">کرمان</div>
        </div>
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">خوزستان</div>
        </div>
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">بروجن</div>
        </div>
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">بندرانزلی</div>
        </div>
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">بندرعباس</div>
        </div>
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">بیرجند</div>
        </div>
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">تایباد</div>
        </div>
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">چناران</div>
        </div>
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">فروس</div>
        </div>
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">کاشمر</div>
        </div>
        <div class="frame-20">
          <img class="img" src="{% static 'img/chevron-left.png' %}" />
          <div class="text-wrapper-15">گناباد</div>
        </div>
      </div>
    </div>
    <div class="frame-21">
      <div class="navbar">
        <img class="image" src="{% static 'img/image 37.png' %}" />
        <a class="text-wrapper-16" href="{% url 'home' %}">خانه</a>
        <a class="text-wrapper-16" href="{% url 'products' %}">محصولات</a>
        <a class="text-wrapper-16" href="{% url 'home' %}#gallery">گالری</a>
        <a class="text-wrapper-16" href="{% url 'about' %}">درباره ما</a>
        <a class="text-wrapper-16 active" href="{% url 'contact' %}">تماس با ما</a>
      </div>
      <figure class="navbar-icons">
        <img class="communication-phone" src="{% static 'img/Phone.png' %}" />
        <img class="interface-search" src="{% static 'img/Search.png' %}" />
      </figure>
    </div>
    <div class="group-4">
      <div class="frame-22">
        <div class="rectangle"></div>
        <div class="ellipse"></div>
        <div class="frame-23">
          <div class="frame-24">
            <div class="image-wrapper">
              <img class="image-2" src="{% static 'img/image 37.png' %}" />
            </div>
            <div class="frame-25">
              <div class="text-wrapper-18">{% include "components/fragments/contact_phone.html" %}</div>
              <div class="text-wrapper-19">{% include "components/fragments/contact_email.html" %}</div>
              <p class="text-wrapper-20">
                {% include "components/fragments/contact_address.html" %}
              </p>
            </div>
          </div>
          <div class="frame-26">
            <div class="text-wrapper-21">تماس باما</div>
          </div>
        </div>
      </div>
      <div class="text-wrapper-22">CONTACT</div>
      <p class="text-wrapper-23">
        © ۱۴۰۴ فرش پرشین – کلیه حقوق این وبسایت محفوظ است.
      </p>
      <div class="frame-27">
        <div class="frame-28">
          <a class="text-wrapper-24" href="{% url 'contact' %}">تماس با ما</a>
          <a class="text-wrapper-16" href="{% url 'about' %}">درباره ما</a>
          <a class="text-wrapper-16" href="{% url 'home' %}#gallery">گالری</a>
          <a class="text-wrapper-16" href="{% url 'products' %}">محصولات</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_scripts %}
{{ block.super }}
{% endblock %}
