nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.navbar.logo {
    width: 11.8rem;
    height: 6.4rem;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.navbar-list {
    display: flex;
    align-items: center;
}
.navbar-item {
    margin-left: 2.4rem;
    &:nth-of-type(1) {
        margin-left: 3.2rem;
    }
    a {
        color: var(--text-gray);
        &.active,
        &:hover {
            color: var(--accent-main);
        }
    }
}
.navbar-icon-item {
    margin-right: 1.6rem;
}
.navbar-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
}
