{% extends "base.html" %}
{% load static %}

{% block head_assets %}
<link rel="stylesheet" href="{% static 'products/globals.css' %}">
<link rel="stylesheet" href="{% static 'products/styleguid.css' %}">
<link rel="stylesheet" href="{% static 'products/style.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
{% endblock %}

{% block body_attrs %} dir="rtl" class="page-products"{% endblock %}

{% block body %}
  <div class="product">
    <img class="frame" src="{% static "img/Frame-59.png" %}"/>
    <div class="text-wrapper">ARTISTRY</div>
    <div class="div">GALLERY</div>
    <div class="text-wrapper-2">AGENTS</div>
    <p class="p">
      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
      از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
      سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
      متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
      درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با
      نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
      خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
      داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
      رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
      پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
    </p>
    <img class="img" src="{% static 'img/image 36.png' %}" />
    <div class="frame-wrapper">
      <div class="frame-2">
        <div class="frame-3">
          <p class="text-wrapper-3">
            تلاقی صنعت و هنر در ترکیب هوشمندانه رنگ‌ها و نقش به دست صنعتگران
            خوش‌ذوق ایرانی
          </p>
          <img class="line" src="{% static 'img/Line 8.png' %}" />
          <p class="text-wrapper-4">
            زیبایی جاودانه‌ای که خانه شما لایق آن است
          </p>
        </div>
        <div class="frame-4">
          <p class="text-wrapper-5">
            فروش فقط از طریق نمایندگی / تماس مستقیم
          </p>
          <div class="div-wrapper">
            <div class="text-wrapper-6">مشاهده نمایندگی‌ها</div>
          </div>
        </div>
      </div>
    </div>
    <div class="group">
      <div class="frame-5">
        <div class="islamic-pattern">
          <div class="vector-wrapper">
            <img class="vector" src="{% static 'img/Vector.png' %}" />
          </div>
        </div>
        <div class="frame-6">
          <img class="line-2" src="{% static 'img/Line 8.png' %}" />
          <p class="text-wrapper-7">ریشه در اصالت،<br />نگاه به آینده</p>
        </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'img/image 45.png' %}" />
      </div>
    </div>
    <div class="frame-7">
      <div class="islamic-pattern-2"></div>
      <div class="frame-8">
        <div class="frame-9">
          <img class="line-2" src="{% static 'img/Line 8.png' %}" />
          <p class="text-wrapper-8">محصولاتی که در انتظار نگاه شماست</p>
        </div>
      </div>
      <div class="islamic-pattern-3"></div>
      <div class="group-wrapper">
        <div class="vector-wrapper">
          <img class="vector" src="{% static 'img/Vector.png' %}" />
        </div>
      </div>
    </div>
    <div class="frame-10">
      <div class="frame-11">
        <div class="frame-12">
          <div class="frame-9">
            <img class="line-3" src="{% static 'img/Line 8.png' %}" />
            <p class="text-wrapper-9">
              هر کجا هستید، نزدیک‌ترین نمایندگی کنار شماست
            </p>
          </div>
        </div>
        <p class="text-wrapper-10">
          فرش پرشین را از معتبرترین نمایندگی‌های ما در شهرهای مختلف ایران تهیه
          کنید.
        </p>
      </div>
      <div class="frame-13">
        <div class="text-wrapper-11">مشاهده نمایندگی‌ها</div>
      </div>
    </div>
    <div class="frame-14"><div class="text-wrapper-12">مشاهده همه</div></div>
    <div class="frame-15">
      <img class="vector-2" src="{% static 'img/Vector 4.png' %}" />
      <img class="line-4" src="{% static 'img/Line 11.png' %}" />
      <img class="vector-3" src="{% static 'img/Vector 5.png' %}" />
    </div>
    <div class="frame-16">
      <div class="frame-17">
        <div class="text-wrapper-13">۱۲۰۰ شانه</div>
        <div class="text-wrapper-13">۷۰۰ شانه</div>
        <div class="text-wrapper-11">۳۰۰ شانه</div>
      </div>
      <div class="frame-18">
        <div class="frame-19">
          <div class="img-wrapper">
            <img class="image-2" src="{% static 'img/image 48.png' %}" />
          </div>
          <div class="frame-20">
            <div class="text-wrapper-14">فرش تابان</div>
            <div class="frame-21">
              <div class="text-wrapper-15">پلی پروپیلین</div>
              <img class="line-5" src="{% static 'img/Line 11.png' %}" />
              <div class="text-wrapper-15">تراکم ۹۶۰</div>
              <img class="line-5" src="{% static 'img/Line 8.png' %}" />
              <p class="div-2">
                <span class="text-wrapper-16">شانه ۳۰۰</span>
              </p>
            </div>
          </div>
        </div>
        <div class="frame-19">
          <div class="img-wrapper">
            <img class="image-3" src="{% static 'img/image 49.png' %}" />
          </div>
          <div class="frame-20">
            <div class="text-wrapper-14">فرش سحر</div>
            <div class="frame-21">
              <div class="text-wrapper-17">پلی پروپیلین</div>
              <img class="line-5" src="{% static 'img/Line 11.png' %}" />
              <div class="text-wrapper-17">تراکم ۹۶۰</div>
              <img class="line-5" src="{% static 'img/Line 8.png' %}" />
              <div class="text-wrapper-17">۳۰۰ شانه</div>
            </div>
          </div>
        </div>
        <div class="frame-19">
          <div class="img-wrapper">
            <img class="image-4" src="{% static 'img/image 47.png' %}" />
          </div>
          <div class="frame-20">
            <div class="text-wrapper-14">فرش آذین</div>
            <div class="frame-21">
              <div class="text-wrapper-17">پلی پروپیلین</div>
              <img class="line-5" src="{% static 'img/Line 11.png' %}" />
              <div class="text-wrapper-17">تراکم ۹۶۰</div>
              <img class="line-5" src="{% static 'img/Line 8.png' %}" />
              <div class="text-wrapper-17">۳۰۰ شانه</div>
            </div>
          </div>
        </div>
        <div class="frame-19">
          <div class="img-wrapper">
            <img class="image-2" src="{% static 'img/image 46.png' %}" />
          </div>
          <div class="frame-20">
            <div class="text-wrapper-14">فرش نقشینه</div>
            <div class="frame-21">
              <div class="text-wrapper-17">پلی پروپیلین</div>
              <img class="line-5" src="{% static 'img/Line 11.png' %}" />
              <div class="text-wrapper-17">تراکم ۹۶۰</div>
              <img class="line-5" src="{% static 'img/Line 8.png' %}" />
              <div class="text-wrapper-17">۳۰۰ شانه</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="group-2">
      <img class="mask-group" src="{% static 'img/Mask group.png' %}" />
      <img class="group-3" src="{% static 'img/Group 1140.png' %}" />
      <div class="text-wrapper-18">مشهد</div>
    </div>
    <div class="group-4">
      <img class="figma-cursor" src="{% static 'img/Figma Cursor.svg' %}" />
      <img
        class="figma-cursor-stroke"
        src="{% static 'img/Figma Cursor (Stroke).svg' %}"
      />
    </div>
    <div class="group-5">
      <img class="polygon" src="{% static 'img/Polygon 1.png' %}" />
      <img class="polygon-2" src="{% static 'img/Polygon 2.png' %}" />
      <img class="polygon-3" src="{% static 'img/Polygon 3.png' %}" />
    </div>
    <div class="frame-22">
      <div class="navbar">
        <img class="image-5" src="{% static 'img/image 37.png' %}" />
        <a class="text-wrapper-19" href="{% url 'home' %}">خانه</a>
        <a class="text-wrapper-19 active" href="{% url 'products' %}">محصولات</a>
        <a class="text-wrapper-19" href="{% url 'home' %}#gallery">گالری</a>
        <a class="text-wrapper-19" href="{% url 'about' %}">درباره ما</a>
        <a class="text-wrapper-19" href="{% url 'contact' %}">تماس با ما</a>
      </div>
      <figure class="navbar-icons">
        <img class="communication-phone" src="{% static 'img/Phone.png' %}" />
        <img class="interface-search" src="{% static 'img/Search.png' %}" />
    </figure>
    </div>
    <div class="group-6">
      <div class="frame-23">
        <div class="rectangle"></div>
        <div class="ellipse"></div>
        <div class="frame-24">
          <div class="frame-25">
            <div class="frame-26">
              <img class="image-6" src="{% static 'img/image 37.png' %}" />
            </div>
            <div class="frame-27">
              <div class="text-wrapper-21">{% include "components/fragments/contact_phone.html" %}</div>
              <div class="text-wrapper-22">{% include "components/fragments/contact_email.html" %}</div>
              <p class="text-wrapper-23">
                {% include "components/fragments/contact_address.html" %}
              </p>
            </div>
          </div>
          <div class="frame-28">
            <div class="text-wrapper-24">تماس باما</div>
          </div>
        </div>
      </div>
      <div class="text-wrapper-25">CONTACT</div>
      <p class="text-wrapper-26">
        © ۱۴۰۴ فرش پرشین – کلیه حقوق این وبسایت محفوظ است.
      </p>
      <div class="frame-29">
        <div class="frame-30">
          <a class="text-wrapper-27" href="{% url 'contact' %}">تماس با ما</a>
          <a class="text-wrapper-19" href="{% url 'about' %}">درباره ما</a>
          <a class="text-wrapper-19" href="{% url 'home' %}#gallery">گالری</a>
          <a class="text-wrapper-19" href="{% url 'products' %}">محصولات</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_scripts %}
{{ block.super }}
{% endblock %}
